<h1>Form Teams</h1>

<table class="table">
<thead>
<tr>
<th>Student</th>
<%= form_for  :teams_ , url: teams_path do |f|%>
<% @cohort.current_pitches.each do |pitch| %>

  <th><%= pitch.name %></th>
<% end %>
  <th>Team</th>
</tr>
</thead>
<tbody>
<% @cohort.students.each do |student| %>
<tr>
  <td><%= student.full_name %></td>
    <% @cohort.current_pitches.each do |pitch| %>
      <!-- @cohort.id -->
      <td><% if student.votes.where(round_id: 1, pitch_id: pitch.id).first%>
          <%=student.votes.where(round_id: 1, pitch_id: pitch.id).first.vote  %>
          <% end %>
      </td>
    <% end %>
    <td>
       <%= f.select :"#{student.id}", @pitches.collect{|c|[c.name, c.id]}%>
    </td>

  </tr>

 <% end %>

   <%= f.submit('Create teams') %>
<% end %>
 

</tbody>
</table>
